:root {
  --primary-color: #003d28;
  --white-color: #ffffff;
  --dark-gray: #666666;
  --black-color: #000000;
  --accent-color: #f17020;
  --shade-white: #F7F7F7;
  --weight-400 : 400;
  --weight-600 : 600;
  --weight-700 : 700;
  --weight-800 : 800;
  --font-size-smaller :18px;
  --font-size-small : 28px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-container {
  height: 243px;
  background-color: var(--primary-color);
  background-image: url("../public/images/header-bg-2.svg");
}
.header-nav {
  height: 50px;
  z-index: 3;
  
}

.logo{
  width: 140px;
height: 50px;
gap: 0px;

}


.list {
  width: 464px;
  height: 48px;

  gap: 0px;

  div {
    /* width: 100%; */
    height: 100%;

    input {
      width: 411px;
      height: 100%;
      padding: 10px 16px 10px 16px;
      /* gap: 10px; */
      border-radius: 8px 0px 0px 8px;
      border: none !important;

    }
    .search-icon {
      width: 51px;
      height: 100%;
      color: var(--white-color);
      background-color: var(--accent-color);
      border-radius: 0px 8px 8px 0px;
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}
.user {
  width: 357px;
  height: 24px;
  gap: 16px;
  gap: 16px;

  span {
    margin-right: 24px;
    color: var(--white-color);
    height: 100%;
    gap: 16px;
    
    *{
      font-family: Roboto;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      text-align: center;
      height: 100%;
      margin: 0;
    }
  }

}
.header-text {
  height: 177px;
  h1 {
    margin-bottom: 3vh;
    color: var(--white-color);
  }
}
.card{
  width: 302px !important;
  height: 494px !important;

}
.card-img-top{
width: 100%;
height: 280px;
background-color: var(--shade-white);
img{

  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
}


.card-button button {
  border: 1px solid var(--accent-color) !important;
  position: relative;
  padding: 10px 20px;
  background-color: white;
  color: var(--black-color);
  cursor: pointer;
  overflow: hidden;
  z-index: 1; /* Ensure the button text is on top */
}

.card-button button::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  transition: all 0.5s ease;
  z-index: -1; /* Place the pseudo-element behind the button text */
}

.card-button button:hover::before {
  width: 100%;
}

.card-button button:hover {
  color: white; /* Change text color on hover */
}
.card-title{
  font-size: var(--font-size-smaller);
  font-weight: var(--weight-400);
}
.price{
  font-size: var(--font-size-small);
  font-weight: var(--weight-700);
}
